<!DOCTYPE html>
<html>
	<head>
		<title>A'chat Sauvage</title>
		<link rel="stylesheet" href="../../static/style.css" />
	</head>
	<body>
		<h1>{{animal.name}}</h1>
		<p>{{animal.description}}</p>
		<p>{{animal.price}}€</p>
		{% if animal.in_stock > 0 %}
		<a href="/animaux/{{animal.id}}/achat">Achete ton nouvel animal de compagnie</a>
		{% else %}
		<p>Rupture de stock sur ce produit, nous faisont le maximum pour en retrouver.</p>
		{% endif %}
		<br />
		<img src="../static/images/{{animal.id}}.jpg" alt="{{animal.name}}" width="400" />
	</body>
</html>
